{{#each favcars as |favcar|}}
  <section data-id="{{favcar.id}}">
    <h6>
      <div class="col-6 col-md-4 box alt-color float-right">Name: {{favcar.name}} </div>
      <div class="col-6 col-md-4 box alt-color float-right">Year: {{favcar.year}} </div>
      <div class="col-6 col-md-4 box alt-color float-right">ID: {{favcar.id}} </div>
    </h6>
    <h3>
    </h3>

    <h3>
    </h3>
  </section>

{{/each}}
