@import '~bootstrap/scss/bootstrap';

.before-auth {
  // text-align: center;
}

.after-auth {
  display: none;
}
// .container {
//   display: none;
// }
.border {
  border: 10px solid $black;
}

// .div1 {
//   border: 10px solid $black;
// }
.center {
  margin: center;
  background-color: green;
  color: white;
  font-size: 2em;
}

p {
  font-size: 4em;
}

h1 {
  // text-align: center;
}

html {
  background: url(https://media1.s-nbcnews.com/j/newscms/2018_12/2371046/180320-flying-car-aeromobil50-se-143p_ef949b16720b8720448e77eed87b1cc7.fit-760w.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  background-size: cover;
}
h2 {
  font-size: 25px;
  margin: 10px 0 20px 0;
  border-bottom: 3px solid white;
  display: inline-block;
}
h3 {
  // background-image: url(https://media1.s-nbcnews.com/j/newscms/2018_12/2371046/180320-flying-car-aeromobil50-se-143p_ef949b16720b8720448e77eed87b1cc7.fit-760w.jpg);
  // background-repeat: no-repeat;
  // background-size: auto;
  // height: 500px;
  // width: 750px;
  // border: 5px solid red;
  // font-size: 30em;
  // font-color: transparent;
}
$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  font-family: sans-serif;
  background-color: #E6E6FA;
  background-image: linear-gradient(-90deg, #E9EFF2, #E6E6FA);
  filter: opacity(0.9);
  // margin: auto;
  margin:15npx;
  padding: 1em;
  // max-width: 50;
}

// .box {
//   align-items: center;
//   // background-color: $secondary;
//   border: 1px solid $white;
//   color: $font-color;
//   display: flex;
//   height: 80px;
//   justify-content: center;
// }

.alt-color {
  background-color: #d9e6f2;
  // border: 1px solid black;
  border: 1px solid $white;
  height: 50px;
  width: 200%
}

// @media (max-width: 600px) {
//   .container {
//     max-width: 300px
//   }
// }

// .board {
//   margin: 0px auto;
//   max-height: calc(100vh - 75px);
//   max-width: calc(100vh - 75px);
//   background-image: url(https://www.disneytouristblog.com/wp-content/uploads/2012/01/DSC_4287-copy-1024x744.jpg);
// }
